<mat-dialog-content>
    <div class="alert">
        <div class="alert-body">
<!-- TODO- change the next line's icon to the apropriate icon of the alert via binding the src path to data.image  -->
            <div class="alert-body-image"><i class="fa fa-thumbs-down" style="font-size:48px;color:red"></i> </div>
            <div class="alert-body-title">{{data.title}}</div>
            <div class="alert-body-message">{{data.message}}</div>
        </div>
        <div class="alert-footer">
            <div class="alert-footer-bright" (click)="onClick(data.option1)">
                 <div class="alert-footer-bright-text">{{data.option1}}</div>
            </div>
            <div class="alert-footer-dark" (click)="onClick(data.option2)">
                <div class="alert-footer-dark-text">{{data.option2}}</div>
            </div>
        </div>
    </div>
</mat-dialog-content>   

